.selectbox,
.textbox {
    display: flex;
    flex-direction: column;
    min-width: 230px;
    width: 70%
}

.selectbox select,
.textbox input {
    font-size: 18px;
    padding: 8px 10px;
    border: 2px solid grey;
    border-radius: 5px
}

.textbox input:focus {
    border: 2px solid #025358
}

.selectbox select:has(+ span),
.textbox input:has(+ span) {
    border: 2px solid red
}

.selectbox span,
.textbox span {
    color: red;
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 5px
}

.selectbox select:has(option[value=""][disabled]:checked) {
    color: gray
}

.selectbox select option {
    color: #000
}

.button button {
    font-size: 20px;
    color: #fff;
    background-color: #025358;
    border: 1px solid #025358;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    width: 300px;
    height: 40px
}